<div class="container">
  <h1 class="form-heading">Product Management System</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Admin Login</h2>
        <p>Please enter your username and password</p>
      </div>
      <form id="Login" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username(size=32) }}
        </div>
        <div class="form-group">
          {{ form.password(size=32) }}
        </div>
        <div class="forgot">
          <a href="reset.html">Forgot password?</a>
          {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        {{ form.submit() }}
      </form>
    </div>
    <p class="botto-text"> Nam Vu Le </p>
  </div>
</div>
